*.svn
*.swp
*.swo
*.swn
*.swm
*.iml
.idea/*
.classpath
.myeclipse/
.settings/
.mymetadata
.class
classes/
.project
WebRoot/WEB-INF/classes/
.DS_Store
.myumldata
/out
/target
/logs
*/target/
logs/
.idea
typings/
jsconfig.json